.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--foreground);
  padding-top: 2rem;
}

.servicios p {
  width: 60%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  scroll-snap-type: y mandatory;
}
.servicios-item > * {
  padding: 1rem 2rem;
}
/* Servicios Item General */
.servicios-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always; /* ← fuerza el snap completo */
}

.servicios-item.reverse {
  flex-direction: row-reverse;
  background-color: var(--foreground);
  color: var(--primary-blue);
}

.servicios-img-wrapper {
  width: 50%;
}

.servicios-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 1.2));
}

.servicios-texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios-texto p {
  width: 90%;
}

/* Responsive: Móvil */
@media (max-width: 480px) {
  .servicios {
    padding-top: 1rem;
  }

  .card-container {
    height: auto;
    overflow-y: visible;
    scroll-snap-type: none;
  }

  .servicios-item {
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem 0;
  }
  .servicios-img-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .servicios-item.reverse {
    flex-direction: column-reverse;
  }

  .servicios-img-wrapper,
  .servicios-texto {
    width: 100%;
  }

  .servicios p,
  .servicios-texto p {
    width: 90%;
  }
}
