:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary-blue: #254d70;
  --secondary-blue: #131d4f;
  --accent-red: #e32227;
  --soft-gray: #efe4d2;
  --medium-gray: #a0a0a0;
  --brown: #954c2e;
  --black: #000000;
}
