.banner {
  position: relative;
  width: 100%;
  height: 500px;
  color: var(--foreground);
  background: linear-gradient(135deg, rgb(13, 21, 37) 0%, rgb(1, 77, 116) 100%);
  clip-path: ellipse(140% 100% at 80% 50%);
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite alternate;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.banner-left {
  width: 50%;
  padding: 40px;
  z-index: 1;
}
.banner-left p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.banner-right {
  width: 40%;
  overflow: hidden;
  position: relative; /* Requerido para que fill funcione */
  background-color: var(--foreground);
  border-radius: 0% 0% 0% 100% / 0% 49% 0% 100%;

}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
/* Borde curvo con pseudo-elemento */
.banner-right::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0% 0% 0% 100% / 0% 49% 0% 100%;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  pointer-events: none;
}

.wave {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
  pointer-events: none;
}

.wave svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* 
.element {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url("../../app/assets/img/DEV.webp") no-repeat center center /
    cover;
  transform: translate(-50%, -50%);
  z-index: 10;
  clip-path: circle(50% at 50% 50%);
  border: 5px solid white;
  border-radius: 50%;
} */

@media (max-width: 768px) {
  .banner-left {
    width: 60%;
    padding: 40px 0 0 20px;
  }
  .banner-right {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .banner{
    min-height: 75vh;
  }
  .banner-left {
    width: 100%;
    padding: 40px 20px;
  }
  .banner-right {
    position: absolute;
    bottom: 50px;
    right: 5px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .banner-right::before {
    border-radius: 50%;
    border: 5px solid white;
  }
}
